<% include ./partials/boilerplate.ejs %>

<div>
  <% let i = 0; %>
  <div class = 'todoItems'>
  <% todo.forEach((data) => { %>
    <% i++; %>
    <div class = 'todoContainer'>
      <div class = 'todo<%= i %>'> </div>
      <h3><%= data.todo %></h3>
      <h3>Current Status: <%= data.status %></h3>
      <form method="get" action="/todo/<%= data.id %>/edit">
        <button type="submit">Edit item!</button>
      </form>
      <form method="POST" action="/todo/<%= data.id %>?_method=DELETE"">
        <button type="submit">Delete!</button>
      </form>
    </div>
  <% }) %>
  </div>
  <form method="get" action="/todo/add">
    <button type="submit">Add to list!</button>
  </form>
</div>

<% include ./partials/end.ejs %>
